Makefile
!third_party/libjpeg_turbo/yasm/source/config/linux/Makefile
*.mk
!install/**/*.mk
*.Makefile
client.timestamp
hooks.timestamp
build/gyp_helper.pyc
build/landmine_utils.pyc
out/
tools/closure/
!devel/Makefile
release/
log/
bazel-*
.vscode/ipch
.vscode/.vs_code_bazel_build/vs_code_aspect.bzl
external/
compile_commands.json
clang.bazelrc
.vscode/*.log
