/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.big {
  font-size: 8em;
}

/*
 * The class names below are just here to prevent the minifier and inlining from
 * working on this file, to allow the css combiner to be demonstrated.
 */
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_a0 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_a1 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_a0 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_a1 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_a0 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_a1 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_a6 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_a7 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_a8 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_a9 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_b0 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_b1 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_b2 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_b3 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_b4 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_b5 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_b6 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_b7 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_b8 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_b9 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_c0 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_c1 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_c2 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_c3 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_c4 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_c5 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_c6 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_c7 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_c8 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_c9 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_d0 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_d1 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_d2 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_d3 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_d4 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_d5 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_d6 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_d7 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_d8 { font-size: 8em; }
.very_large_class_name_that_will_be_hard_to_minify_to_keep_file_above_threshold_d9 { font-size: 8em; }
