/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* The ?f=ic nonces are to keep from stomping on other test cases' ideas of
 * what should be cached when. */
#bg_Cuppa {
    background-image:url('../images/Cuppa.png?f=ic');
    background-repeat:no-repeat;
    width:65px;
    height:70px;
}
#bg_BikeCrashIcn {
    width:100px;
    height:100px;
    background:transparent url('../images/BikeCrashIcn.png?f=ic') no-repeat
}
#bg_Puzzle {
    width:1023px;
    height:766px;
    background:transparent url('../images/Puzzle.jpg?f=ic') no-repeat
}
#bg_IronChef {
    width:192px;
    height:256px;
    background:transparent url('../images/IronChef2.gif?f=ic') no-repeat
}
